.main{
    display: grid;
    grid-template-columns: minmax(270px, auto)1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 30px;
    margin-top:20px;
}
#navbar{
    width: 18%;
    grid-area: navbar;
    position: fixed;
    font-size: 22px;
}
#main-doc{
    grid-area: mainContent;
    margin-right: 30px;
    font-size: 18px;

}#navbar a{
    display: block;
    margin: 25px 0;
    border:1px solid rgb(0, 0, 255);
    text-decoration: none;
    color: #000;
    background-color: rgb(182, 217, 228);
}
.titulos{
    font-size: 25px;
    font-weight: bold;
}
code{
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(156, 195, 195);
    display: block;
    padding: 12px;
    font-weight: bold;
}
.main-section{
    text-align: justify;
}
li{
    padding: 10px;
}
table{
    border:1px solid black;
}th {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}tr{
    border: 1px solid black;
    text-align: center;
    border-collapse:collapse;
}.navegador{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 640px){

.main{
    display: flex;
    margin-top: 40%;
    margin-bottom: 60px;
    flex-direction: column
}

#main-doc {
    width: 94%;
    margin-left: 10px;
    margin-top: 85%;
}
.navegador {
    background-color: white;
    padding: 8px;
}
#navbar {
    background-color: #c6e6e640;
    position: absolute;
    top: 0;
    padding: 0px;
    margin-top: 20px;
    width: 90%;
    border-radius: 10px;
}
#navbar a {
    display: block;
    padding: 0;
    cursor: pointer;
    text-align: center;
}
.titulos {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
}